<?xml version="1.0" ?>
<!--
SPDX-FileCopyrightText: 2026, FANUC America Corporation
SPDX-FileCopyrightText: 2026, FANUC CORPORATION
SPDX-License-Identifier: Apache-2.0
-->
<!-- URDF for LR Mate/4-6D(LR Mate 200iD/4S) -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro
    name="lrmate200id4s"
    params="prefix=''
            parent
            *origin
            child"
  >

    <xacro:property name="j1_lower_limit" value="${radians(-170)}" />
    <xacro:property name="j2_lower_limit" value="${radians(-110)}" />
    <xacro:property name="j3_lower_limit" value="${radians(-69)}" />
    <xacro:property name="j4_lower_limit" value="${radians(-190)}" />
    <xacro:property name="j5_lower_limit" value="${radians(-120)}" />
    <xacro:property name="j6_lower_limit" value="${radians(-360)}" />

    <xacro:property name="j1_upper_limit" value="${radians(170)}" />
    <xacro:property name="j2_upper_limit" value="${radians(120)}" />
    <xacro:property name="j3_upper_limit" value="${radians(205)}" />
    <xacro:property name="j4_upper_limit" value="${radians(190)}" />
    <xacro:property name="j5_upper_limit" value="${radians(120)}" />
    <xacro:property name="j6_upper_limit" value="${radians(360)}" />

    <xacro:property name="j1_effort_limit" value="400" />
    <xacro:property name="j2_effort_limit" value="200" />
    <xacro:property name="j3_effort_limit" value="200" />
    <xacro:property name="j4_effort_limit" value="50" />
    <xacro:property name="j5_effort_limit" value="30" />
    <xacro:property name="j6_effort_limit" value="20" />

    <xacro:property name="j1_velocity_limit" value="${radians(460)}" />
    <xacro:property name="j2_velocity_limit" value="${radians(460)}" />
    <xacro:property name="j3_velocity_limit" value="${radians(520)}" />
    <xacro:property name="j4_velocity_limit" value="${radians(560)}" />
    <xacro:property name="j5_velocity_limit" value="${radians(560)}" />
    <xacro:property name="j6_velocity_limit" value="${radians(900)}" />

    <!-- links -->
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id4s/visual/base.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id4s/collision/base.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 5.15" />
        <origin xyz="-.0281  .00396  .0799" />
        <inertia
          ixx=" .0219"
          ixy="-.00106"
          ixz="-.000067"
          iyy=" .0301"
          iyz=" .0000847"
          izz=" .0295"
        />
      </inertial>
    </link>

    <link name="${prefix}J1_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id4s/visual/j1.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id4s/collision/j1.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 4.17" />
        <origin xyz=" .00151  .000041 -.0578" />
        <inertia
          ixx=" .0252"
          ixy="-.00000663"
          ixz=" .000264"
          iyy=" .019"
          iyz=" .0000011"
          izz=" .0162"
        />
      </inertial>
    </link>

    <link name="${prefix}J2_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id4s/visual/j2.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id4s/collision/j2.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 6.67" />
        <origin xyz="-.00721 -.000956  .13" />
        <inertia
          ixx=" .0769"
          ixy=" .0000572"
          ixz="-.000476"
          iyy=" .0672"
          iyz="-.000635"
          izz=" .0252"
        />
      </inertial>
    </link>

    <link name="${prefix}J3_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id4s/visual/j3.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id4s/collision/j3.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 1.66" />
        <origin xyz="-.00781 -.00446 -.00000291" />
        <inertia
          ixx=" .00369"
          ixy=" .000000468"
          ixz="-.000423"
          iyy=" .00425"
          iyz="-.0000116"
          izz=" .00414"
        />
      </inertial>
    </link>

    <link name="${prefix}J4_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id4s/visual/j4.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id4s/collision/j4.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 1.95" />
        <origin xyz=" .187  .00165  .00184" />
        <inertia
          ixx=" .00266"
          ixy=" .00000358"
          ixz=" .0000703"
          iyy=" .0115"
          iyz="-.0000074"
          izz=" .0116"
        />
      </inertial>
    </link>

    <link name="${prefix}J5_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id4s/visual/j5.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id4s/collision/j5.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" .39" />
        <origin xyz=" .0172  .000903 -.00000423" />
        <inertia
          ixx=" .000268"
          ixy=" .00000599"
          ixz="-.0000000104"
          iyy=" .000453"
          iyz="-.0000000172"
          izz=" .000425"
        />
      </inertial>
    </link>

    <link name="${prefix}J6_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id4s/visual/j6.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id4s/collision/j6.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" .0138" />
        <origin xyz=" .069  5.91E-19 -2.85E-19" />
        <inertia
          ixx=" .00000274"
          ixy="-3.46E-21"
          ixz="-6.2E-23"
          iyy=" .00000153"
          iyz="-1.38E-23"
          izz=" .00000153"
        />
      </inertial>
    </link>

    <!-- joints -->
    <joint name="${prefix}J1" type="revolute">
      <origin xyz=" 0  0  .33" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}J1_link" />
      <axis xyz=" 0  0  1" />
      <limit
        lower="${j1_lower_limit}"
        upper="${j1_upper_limit}"
        effort="${j1_effort_limit}"
        velocity="${j1_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J2" type="revolute">
      <origin xyz=" 0  0  0" rpy="0 0 0" />
      <parent link="${prefix}J1_link" />
      <child link="${prefix}J2_link" />
      <axis xyz=" 0  1  0" />
      <limit
        lower="${j2_lower_limit}"
        upper="${j2_upper_limit}"
        effort="${j2_effort_limit}"
        velocity="${j2_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J3" type="revolute">
      <origin xyz=" 0  0  .26" rpy="0 0 0" />
      <parent link="${prefix}J2_link" />
      <child link="${prefix}J3_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j3_lower_limit}"
        upper="${j3_upper_limit}"
        effort="${j3_effort_limit}"
        velocity="${j3_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J4" type="revolute">
      <origin xyz=" 0  0  .02" rpy="0 0 0" />
      <parent link="${prefix}J3_link" />
      <child link="${prefix}J4_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j4_lower_limit}"
        upper="${j4_upper_limit}"
        effort="${j4_effort_limit}"
        velocity="${j4_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J5" type="revolute">
      <origin xyz=" .29  0  0" rpy="0 0 0" />
      <parent link="${prefix}J4_link" />
      <child link="${prefix}J5_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j5_lower_limit}"
        upper="${j5_upper_limit}"
        effort="${j5_effort_limit}"
        velocity="${j5_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J6" type="revolute">
      <origin xyz=" 0  0  0" rpy="0 0 0" />
      <parent link="${prefix}J5_link" />
      <child link="${prefix}J6_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j6_lower_limit}"
        upper="${j6_upper_limit}"
        effort="${j6_effort_limit}"
        velocity="${j6_velocity_limit}"
      />
    </joint>

    <!-- world coords -->
    <link name="${prefix}wbase" />
    <joint name="${prefix}base_link-wbase" type="fixed">
      <origin xyz=" 0  0  .33" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}wbase" />
    </joint>

    <!-- flange coords -->
    <link name="${prefix}flange" />
    <joint name="${prefix}J6-flange" type="fixed">
      <origin xyz=" .07  0  0" rpy="0 0 0" />
      <parent link="${prefix}J6_link" />
      <child link="${prefix}flange" />
    </joint>

    <!-- FANUC flange coords -->
    <link name="${prefix}fanuc_flange" />
    <joint name="${prefix}flange-fanuc_flange" type="fixed">
      <origin xyz="0 0 0" rpy="${radians( 180)} ${radians(-90)} ${radians( 0)}" />
      <parent link="${prefix}flange" />
      <child link="${prefix}fanuc_flange" />
    </joint>

    <!-- Attach to parent -->
    <joint name="${prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}base_link" />
    </joint>

    <!-- Attach child -->
    <joint name="${prefix}child_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}flange" />
      <child link="${child}" />
    </joint>
  </xacro:macro>
</robot>
