<?xml version="1.0" ?>
<!--
SPDX-FileCopyrightText: 2026, FANUC America Corporation
SPDX-FileCopyrightText: 2026, FANUC CORPORATION
SPDX-License-Identifier: Apache-2.0
-->
<!-- URDF for LR Mate/7-9D Food/Clean(LR Mate 200iD/7LC) -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro
    name="lrmate200id7lc"
    params="prefix=''
            parent
            *origin
            child"
  >

    <xacro:property name="j1_lower_limit" value="${radians(-180)}" />
    <xacro:property name="j2_lower_limit" value="${radians(-100)}" />
    <xacro:property name="j3_lower_limit" value="${radians(-70)}" />
    <xacro:property name="j4_lower_limit" value="${radians(-190)}" />
    <xacro:property name="j5_lower_limit" value="${radians(-125)}" />
    <xacro:property name="j6_lower_limit" value="${radians(-360)}" />

    <xacro:property name="j1_upper_limit" value="${radians(180)}" />
    <xacro:property name="j2_upper_limit" value="${radians(145)}" />
    <xacro:property name="j3_upper_limit" value="${radians(213)}" />
    <xacro:property name="j4_upper_limit" value="${radians(190)}" />
    <xacro:property name="j5_upper_limit" value="${radians(125)}" />
    <xacro:property name="j6_upper_limit" value="${radians(360)}" />

    <xacro:property name="j1_effort_limit" value="600" />
    <xacro:property name="j2_effort_limit" value="600" />
    <xacro:property name="j3_effort_limit" value="300" />
    <xacro:property name="j4_effort_limit" value="70" />
    <xacro:property name="j5_effort_limit" value="40" />
    <xacro:property name="j6_effort_limit" value="20" />

    <xacro:property name="j1_velocity_limit" value="${radians(370)}" />
    <xacro:property name="j2_velocity_limit" value="${radians(310)}" />
    <xacro:property name="j3_velocity_limit" value="${radians(410)}" />
    <xacro:property name="j4_velocity_limit" value="${radians(550)}" />
    <xacro:property name="j5_velocity_limit" value="${radians(545)}" />
    <xacro:property name="j6_velocity_limit" value="${radians(1000)}" />

    <!-- links -->
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id7lc/visual/base.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id7lc/collision/base.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 5.08" />
        <origin xyz="-.0146 -.000342  .0796" />
        <inertia
          ixx=" .024"
          ixy="-.000551"
          ixz=" .000284"
          iyy=" .0293"
          iyz="-.000117"
          izz=" .0309"
        />
      </inertial>
    </link>

    <link name="${prefix}J1_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id7lc/visual/j1.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id7lc/collision/j1.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 5.4" />
        <origin xyz=" .0287  .000102 -.0547" />
        <inertia
          ixx=" .04"
          ixy=" .0000229"
          ixz="-.00529"
          iyy=" .0291"
          iyz=" .000117"
          izz=" .0309"
        />
      </inertial>
    </link>

    <link name="${prefix}J2_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id7lc/visual/j2.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id7lc/collision/j2.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 10.9" />
        <origin xyz="-.00311 -.00124  .217" />
        <inertia
          ixx=" .28"
          ixy=" .0000323"
          ixz=" .000717"
          iyy=" .254"
          iyz="-.00194"
          izz=" .0509"
        />
      </inertial>
    </link>

    <link name="${prefix}J3_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id7lc/visual/j3.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id7lc/collision/j3.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 2.07" />
        <origin xyz=" .00887 -.0000626  .0171" />
        <inertia
          ixx=" .00561"
          ixy="-.0000441"
          ixz="-.000596"
          iyy=" .00638"
          iyz="-.0000442"
          izz=" .00642"
        />
      </inertial>
    </link>

    <link name="${prefix}J4_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id7lc/visual/j4.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id7lc/collision/j4.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 3.07" />
        <origin xyz=" .266  .00354  .00226" />
        <inertia
          ixx=" .0051"
          ixy="-.0000092"
          ixz=" .0000312"
          iyy=" .0346"
          iyz="-.00000958"
          izz=" .0346"
        />
      </inertial>
    </link>

    <link name="${prefix}J5_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id7lc/visual/j5.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id7lc/collision/j5.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" .482" />
        <origin xyz=" .0236  .00233 -.00000699" />
        <inertia
          ixx=" .000376"
          ixy=" .000022"
          ixz="-.0000000229"
          iyy=" .000753"
          iyz="-.0000000274"
          izz=" .000712"
        />
      </inertial>
    </link>

    <link name="${prefix}J6_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id7lc/visual/j6.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_lrmate_description/meshes/lrmate200id7lc/collision/j6.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" .0202" />
        <origin xyz=" .0836 -3.24E-19 -1.22E-18" />
        <inertia
          ixx=" .00000485"
          ixy=" 1.78E-21"
          ixz="-4.54E-21"
          iyy=" .00000285"
          iyz=" 4.79E-22"
          izz=" .00000285"
        />
      </inertial>
    </link>

    <!-- joints -->
    <joint name="${prefix}J1" type="revolute">
      <origin xyz=" 0  0  .33" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}J1_link" />
      <axis xyz=" 0  0  1" />
      <limit
        lower="${j1_lower_limit}"
        upper="${j1_upper_limit}"
        effort="${j1_effort_limit}"
        velocity="${j1_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J2" type="revolute">
      <origin xyz=" .05  0  0" rpy="0 0 0" />
      <parent link="${prefix}J1_link" />
      <child link="${prefix}J2_link" />
      <axis xyz=" 0  1  0" />
      <limit
        lower="${j2_lower_limit}"
        upper="${j2_upper_limit}"
        effort="${j2_effort_limit}"
        velocity="${j2_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J3" type="revolute">
      <origin xyz=" 0  0  .44" rpy="0 0 0" />
      <parent link="${prefix}J2_link" />
      <child link="${prefix}J3_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j3_lower_limit}"
        upper="${j3_upper_limit}"
        effort="${j3_effort_limit}"
        velocity="${j3_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J4" type="revolute">
      <origin xyz=" 0  0  .035" rpy="0 0 0" />
      <parent link="${prefix}J3_link" />
      <child link="${prefix}J4_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j4_lower_limit}"
        upper="${j4_upper_limit}"
        effort="${j4_effort_limit}"
        velocity="${j4_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J5" type="revolute">
      <origin xyz=" .42  0  0" rpy="0 0 0" />
      <parent link="${prefix}J4_link" />
      <child link="${prefix}J5_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j5_lower_limit}"
        upper="${j5_upper_limit}"
        effort="${j5_effort_limit}"
        velocity="${j5_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J6" type="revolute">
      <origin xyz=" 0  0  0" rpy="0 0 0" />
      <parent link="${prefix}J5_link" />
      <child link="${prefix}J6_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j6_lower_limit}"
        upper="${j6_upper_limit}"
        effort="${j6_effort_limit}"
        velocity="${j6_velocity_limit}"
      />
    </joint>

    <!-- world coords -->
    <link name="${prefix}wbase" />
    <joint name="${prefix}base_link-wbase" type="fixed">
      <origin xyz=" 0  0  .33" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}wbase" />
    </joint>

    <!-- flange coords -->
    <link name="${prefix}flange" />
    <joint name="${prefix}J6-flange" type="fixed">
      <origin xyz=" .09  0  0" rpy="0 0 0" />
      <parent link="${prefix}J6_link" />
      <child link="${prefix}flange" />
    </joint>

    <!-- FANUC flange coords -->
    <link name="${prefix}fanuc_flange" />
    <joint name="${prefix}flange-fanuc_flange" type="fixed">
      <origin xyz="0 0 0" rpy="${radians( 180)} ${radians(-90)} ${radians( 0)}" />
      <parent link="${prefix}flange" />
      <child link="${prefix}fanuc_flange" />
    </joint>

    <!-- Attach to parent -->
    <joint name="${prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}base_link" />
    </joint>

    <!-- Attach child -->
    <joint name="${prefix}child_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}flange" />
      <child link="${child}" />
    </joint>
  </xacro:macro>
</robot>
