<?xml version="1.0" ?>
<!--
SPDX-FileCopyrightText: 2026, FANUC America Corporation
SPDX-FileCopyrightText: 2026, FANUC CORPORATION
SPDX-License-Identifier: Apache-2.0
-->
<!-- URDF for M-710/20-31C (M-710iC/20L) -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro
    name="m710ic_20l"
    params="prefix=''
            parent
            *origin
            child"
  >

    <xacro:property name="j1_lower_limit" value="${radians(-180)}" />
    <xacro:property name="j2_lower_limit" value="${radians(-90)}" />
    <xacro:property name="j3_lower_limit" value="${radians(-80.5)}" />
    <xacro:property name="j4_lower_limit" value="${radians(-200)}" />
    <xacro:property name="j5_lower_limit" value="${radians(-140)}" />
    <xacro:property name="j6_lower_limit" value="${radians(-450)}" />

    <xacro:property name="j1_upper_limit" value="${radians(180)}" />
    <xacro:property name="j2_upper_limit" value="${radians(135)}" />
    <xacro:property name="j3_upper_limit" value="${radians(205)}" />
    <xacro:property name="j4_upper_limit" value="${radians(200)}" />
    <xacro:property name="j5_upper_limit" value="${radians(140)}" />
    <xacro:property name="j6_upper_limit" value="${radians(450)}" />

    <xacro:property name="j1_effort_limit" value="5000" />
    <xacro:property name="j2_effort_limit" value="10000" />
    <xacro:property name="j3_effort_limit" value="4000" />
    <xacro:property name="j4_effort_limit" value="200" />
    <xacro:property name="j5_effort_limit" value="200" />
    <xacro:property name="j6_effort_limit" value="100" />

    <xacro:property name="j1_velocity_limit" value="${radians(175)}" />
    <xacro:property name="j2_velocity_limit" value="${radians(165)}" />
    <xacro:property name="j3_velocity_limit" value="${radians(180)}" />
    <xacro:property name="j4_velocity_limit" value="${radians(350)}" />
    <xacro:property name="j5_velocity_limit" value="${radians(360)}" />
    <xacro:property name="j6_velocity_limit" value="${radians(600)}" />

    <!-- links -->
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20l/visual/base.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20l/collision/base.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 121" />
        <origin xyz="-.0566 -.000891  .119" />
        <inertia
          ixx=" 3.2"
          ixy="-.0136"
          ixz=" .0398"
          iyy=" 3.45"
          iyz="-.0063"
          izz=" 5.39"
        />
      </inertial>
    </link>

    <link name="${prefix}J1_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20l/visual/j1.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20l/collision/j1.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 183" />
        <origin xyz=" .0515 -.00696 -.105" />
        <inertia
          ixx=" 6.83"
          ixy="-.304"
          ixz="-.462"
          iyy=" 5.83"
          iyz=" .199"
          izz=" 7.31"
        />
      </inertial>
    </link>

    <link name="${prefix}J2_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20l/visual/j2.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20l/collision/j2.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 103" />
        <origin xyz=" .00255  .155  .462" />
        <inertia
          ixx=" 14.2"
          ixy=" .0237"
          ixz=" .016"
          iyy=" 14.5"
          iyz="-.459"
          izz=" .855"
        />
      </inertial>
    </link>

    <link name="${prefix}J3_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20l/visual/j3.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20l/collision/j3.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 82.7" />
        <origin xyz=" .0731 -.0312  .113" />
        <inertia
          ixx=" 1.63"
          ixy="-.0732"
          ixz="-.223"
          iyy=" 2"
          iyz=" .0871"
          izz=" 1.77"
        />
      </inertial>
    </link>

    <link name="${prefix}J4_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20l/visual/j4.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20l/collision/j4.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 47.1" />
        <origin xyz=" 1.12 -.00605  .000000367" />
        <inertia
          ixx=" .141"
          ixy=" .0701"
          ixz="-.00000499"
          iyy=" 8.67"
          iyz=" .0000000236"
          izz=" 8.7"
        />
      </inertial>
    </link>

    <link name="${prefix}J5_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20l/visual/j5.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20l/collision/j5.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 2.84" />
        <origin xyz="-.00319  .00468 -.00437" />
        <inertia
          ixx=" .00408"
          ixy=" .0000884"
          ixz="-.000101"
          iyy=" .00953"
          iyz="-.00000838"
          izz=" .00945"
        />
      </inertial>
    </link>

    <link name="${prefix}J6_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20l/visual/j6.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20l/collision/j6.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" .0206" />
        <origin xyz=" .097  3.42E-20  2.82E-19" />
        <inertia
          ixx=" .00000642"
          ixy=" 8.81E-21"
          ixz="-3.45E-22"
          iyy=" .00000327"
          iyz="-1.42E-23"
          izz=" .00000327"
        />
      </inertial>
    </link>

    <!-- joints -->
    <joint name="${prefix}J1" type="revolute">
      <origin xyz=" 0  0  .565" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}J1_link" />
      <axis xyz=" 0  0  1" />
      <limit
        lower="${j1_lower_limit}"
        upper="${j1_upper_limit}"
        effort="${j1_effort_limit}"
        velocity="${j1_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J2" type="revolute">
      <origin xyz=" .15  0  0" rpy="0 0 0" />
      <parent link="${prefix}J1_link" />
      <child link="${prefix}J2_link" />
      <axis xyz=" 0  1  0" />
      <limit
        lower="${j2_lower_limit}"
        upper="${j2_upper_limit}"
        effort="${j2_effort_limit}"
        velocity="${j2_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J3" type="revolute">
      <origin xyz=" 0  0  1.15" rpy="0 0 0" />
      <parent link="${prefix}J2_link" />
      <child link="${prefix}J3_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j3_lower_limit}"
        upper="${j3_upper_limit}"
        effort="${j3_effort_limit}"
        velocity="${j3_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J4" type="revolute">
      <origin xyz=" 0  0  .19" rpy="0 0 0" />
      <parent link="${prefix}J3_link" />
      <child link="${prefix}J4_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j4_lower_limit}"
        upper="${j4_upper_limit}"
        effort="${j4_effort_limit}"
        velocity="${j4_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J5" type="revolute">
      <origin xyz=" 1.8  0  0" rpy="0 0 0" />
      <parent link="${prefix}J4_link" />
      <child link="${prefix}J5_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j5_lower_limit}"
        upper="${j5_upper_limit}"
        effort="${j5_effort_limit}"
        velocity="${j5_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J6" type="revolute">
      <origin xyz=" 0  0  0" rpy="0 0 0" />
      <parent link="${prefix}J5_link" />
      <child link="${prefix}J6_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j6_lower_limit}"
        upper="${j6_upper_limit}"
        effort="${j6_effort_limit}"
        velocity="${j6_velocity_limit}"
      />
    </joint>

    <!-- world coords -->
    <link name="${prefix}wbase" />
    <joint name="${prefix}base_link-wbase" type="fixed">
      <origin xyz=" 0  0  .565" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}wbase" />
    </joint>

    <!-- flange coords -->
    <link name="${prefix}flange" />
    <joint name="${prefix}J6-flange" type="fixed">
      <origin xyz=" .1  0  0" rpy="0 0 0" />
      <parent link="${prefix}J6_link" />
      <child link="${prefix}flange" />
    </joint>

    <!-- FANUC flange coords -->
    <link name="${prefix}fanuc_flange" />
    <joint name="${prefix}flange-fanuc_flange" type="fixed">
      <origin xyz="0 0 0" rpy="${radians( 180)} ${radians(-90)} ${radians( 0)}" />
      <parent link="${prefix}flange" />
      <child link="${prefix}fanuc_flange" />
    </joint>

    <!-- Attach to parent -->
    <joint name="${prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}base_link" />
    </joint>

    <!-- Attach child -->
    <joint name="${prefix}child_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}flange" />
      <child link="${child}" />
    </joint>
  </xacro:macro>
</robot>
