<?xml version="1.0" ?>
<!--
SPDX-FileCopyrightText: 2026, FANUC America Corporation
SPDX-FileCopyrightText: 2026, FANUC CORPORATION
SPDX-License-Identifier: Apache-2.0
-->
<!-- URDF for M-710/20-26C (M-710iC/20M) -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro
    name="m710ic_20m"
    params="prefix=''
            parent
            *origin
            child"
  >

    <xacro:property name="j1_lower_limit" value="${radians(-180)}" />
    <xacro:property name="j2_lower_limit" value="${radians(-90)}" />
    <xacro:property name="j3_lower_limit" value="${radians(-80.5)}" />
    <xacro:property name="j4_lower_limit" value="${radians(-200)}" />
    <xacro:property name="j5_lower_limit" value="${radians(-140)}" />
    <xacro:property name="j6_lower_limit" value="${radians(-450)}" />

    <xacro:property name="j1_upper_limit" value="${radians(180)}" />
    <xacro:property name="j2_upper_limit" value="${radians(135)}" />
    <xacro:property name="j3_upper_limit" value="${radians(205)}" />
    <xacro:property name="j4_upper_limit" value="${radians(200)}" />
    <xacro:property name="j5_upper_limit" value="${radians(140)}" />
    <xacro:property name="j6_upper_limit" value="${radians(450)}" />

    <xacro:property name="j1_effort_limit" value="5000" />
    <xacro:property name="j2_effort_limit" value="6000" />
    <xacro:property name="j3_effort_limit" value="4000" />
    <xacro:property name="j4_effort_limit" value="200" />
    <xacro:property name="j5_effort_limit" value="200" />
    <xacro:property name="j6_effort_limit" value="100" />

    <xacro:property name="j1_velocity_limit" value="${radians(175)}" />
    <xacro:property name="j2_velocity_limit" value="${radians(175)}" />
    <xacro:property name="j3_velocity_limit" value="${radians(180)}" />
    <xacro:property name="j4_velocity_limit" value="${radians(350)}" />
    <xacro:property name="j5_velocity_limit" value="${radians(360)}" />
    <xacro:property name="j6_velocity_limit" value="${radians(600)}" />

    <!-- links -->
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20m/visual/base.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20m/collision/base.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 123" />
        <origin xyz="-.0576 -.0009  .119" />
        <inertia
          ixx=" 3.25"
          ixy="-.0141"
          ixz=" .038"
          iyy=" 3.53"
          iyz="-.00627"
          izz=" 5.51"
        />
      </inertial>
    </link>

    <link name="${prefix}J1_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20m/visual/j1.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20m/collision/j1.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 185" />
        <origin xyz=" .0512 -.00715 -.104" />
        <inertia
          ixx=" 6.88"
          ixy="-.304"
          ixz="-.478"
          iyy=" 5.86"
          iyz=" .197"
          izz=" 7.38"
        />
      </inertial>
    </link>

    <link name="${prefix}J2_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20m/visual/j2.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20m/collision/j2.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 97.7" />
        <origin xyz=" .0018  .145  .39" />
        <inertia
          ixx=" 9.2"
          ixy=" .0165"
          ixz=" .0123"
          iyy=" 9.5"
          iyz="-.0735"
          izz=" .863"
        />
      </inertial>
    </link>

    <link name="${prefix}J3_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20m/visual/j3.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20m/collision/j3.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 80.2" />
        <origin xyz=" .077 -.0376  .118" />
        <inertia
          ixx=" 1.5"
          ixy="-.119"
          ixz="-.196"
          iyy=" 1.91"
          iyz=" .0305"
          izz=" 1.66"
        />
      </inertial>
    </link>

    <link name="${prefix}J4_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20m/visual/j4.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20m/collision/j4.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 41.3" />
        <origin xyz=" .978 -.00621  .00000000224" />
        <inertia
          ixx=" .128"
          ixy=" .0536"
          ixz="-.00000000102"
          iyy=" 5.3"
          iyz=" .00000000678"
          izz=" 5.32"
        />
      </inertial>
    </link>

    <link name="${prefix}J5_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20m/visual/j5.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20m/collision/j5.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 2.86" />
        <origin xyz="-.00371  .00471 -.00439" />
        <inertia
          ixx=" .00413"
          ixy=" .0000825"
          ixz="-.0000955"
          iyy=" .00951"
          iyz="-.0000088"
          izz=" .00942"
        />
      </inertial>
    </link>

    <link name="${prefix}J6_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20m/visual/j6.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_m710_description/meshes/m710ic_20m/collision/j6.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" .038" />
        <origin xyz=" .0955 -7.91E-18  1.33E-17" />
        <inertia
          ixx=" .0000153"
          ixy="-1.98E-20"
          ixz=" 1.92E-19"
          iyy=" .00000788"
          iyz=" 8.45E-21"
          izz=" .00000788"
        />
      </inertial>
    </link>

    <!-- joints -->
    <joint name="${prefix}J1" type="revolute">
      <origin xyz=" 0  0  .565" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}J1_link" />
      <axis xyz=" 0  0  1" />
      <limit
        lower="${j1_lower_limit}"
        upper="${j1_upper_limit}"
        effort="${j1_effort_limit}"
        velocity="${j1_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J2" type="revolute">
      <origin xyz=" .15  0  0" rpy="0 0 0" />
      <parent link="${prefix}J1_link" />
      <child link="${prefix}J2_link" />
      <axis xyz=" 0  1  0" />
      <limit
        lower="${j2_lower_limit}"
        upper="${j2_upper_limit}"
        effort="${j2_effort_limit}"
        velocity="${j2_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J3" type="revolute">
      <origin xyz=" 0  0  .87" rpy="0 0 0" />
      <parent link="${prefix}J2_link" />
      <child link="${prefix}J3_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j3_lower_limit}"
        upper="${j3_upper_limit}"
        effort="${j3_effort_limit}"
        velocity="${j3_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J4" type="revolute">
      <origin xyz=" 0  0  .19" rpy="0 0 0" />
      <parent link="${prefix}J3_link" />
      <child link="${prefix}J4_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j4_lower_limit}"
        upper="${j4_upper_limit}"
        effort="${j4_effort_limit}"
        velocity="${j4_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J5" type="revolute">
      <origin xyz=" 1.55  0  0" rpy="0 0 0" />
      <parent link="${prefix}J4_link" />
      <child link="${prefix}J5_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j5_lower_limit}"
        upper="${j5_upper_limit}"
        effort="${j5_effort_limit}"
        velocity="${j5_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J6" type="revolute">
      <origin xyz=" 0  0  0" rpy="0 0 0" />
      <parent link="${prefix}J5_link" />
      <child link="${prefix}J6_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j6_lower_limit}"
        upper="${j6_upper_limit}"
        effort="${j6_effort_limit}"
        velocity="${j6_velocity_limit}"
      />
    </joint>

    <!-- world coords -->
    <link name="${prefix}wbase" />
    <joint name="${prefix}base_link-wbase" type="fixed">
      <origin xyz=" 0  0  .565" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}wbase" />
    </joint>

    <!-- flange coords -->
    <link name="${prefix}flange" />
    <joint name="${prefix}J6-flange" type="fixed">
      <origin xyz=" .1  0  0" rpy="0 0 0" />
      <parent link="${prefix}J6_link" />
      <child link="${prefix}flange" />
    </joint>

    <!-- FANUC flange coords -->
    <link name="${prefix}fanuc_flange" />
    <joint name="${prefix}flange-fanuc_flange" type="fixed">
      <origin xyz="0 0 0" rpy="${radians( 180)} ${radians(-90)} ${radians( 0)}" />
      <parent link="${prefix}flange" />
      <child link="${prefix}fanuc_flange" />
    </joint>

    <!-- Attach to parent -->
    <joint name="${prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}base_link" />
    </joint>

    <!-- Attach child -->
    <joint name="${prefix}child_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}flange" />
      <child link="${child}" />
    </joint>
  </xacro:macro>
</robot>
