<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="robot_control" params="name prefix=''">
    <ros2_control name="${name}" type="system">
      <joint name="${prefix}J1">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}J2">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}J3">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}J4">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}J5">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}J6">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <hardware>
        <plugin>fanuc_robot_driver/FanucHardwareInterface</plugin>
        <param name="robot_ip">$(arg robot_ip)</param>
        <param name="rmi_port">$(arg rmi_port)</param>
        <param name="stream_motion_port">$(arg stream_motion_port)</param>
        <param name="gpio_configuration">$(arg gpio_configuration)</param>
        <param name="payload_schedule">$(arg payload_schedule)</param>
        <param name="out_cmd_interp_buff_target">$(arg out_cmd_interp_buff_target)</param>
        <param name="force_sensor_type">$(arg force_sensor_type)</param>
      </hardware>
    </ros2_control>
  </xacro:macro>
</robot>
