<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="crx_control" params="name prefix=''">
    <ros2_control name="${name}" type="system">
      <joint name="${prefix}J1">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}J2">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}J3">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}J4">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}J5">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}J6">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <gpio name="DI">
        <state_interface name="101"/>
        <state_interface name="102"/>
        <state_interface name="103"/>
        <state_interface name="104"/>
        <state_interface name="105"/>
        <state_interface name="106"/>
        <state_interface name="107"/>
        <state_interface name="108"/>
        <state_interface name="109"/>
        <state_interface name="110"/>
        <state_interface name="111"/>
        <state_interface name="112"/>
      </gpio>

      <gpio name="DO">
        <state_interface name="101"/>
        <state_interface name="102"/>
        <state_interface name="103"/>
        <state_interface name="104"/>
        <state_interface name="105"/>
        <state_interface name="106"/>
        <state_interface name="107"/>
        <state_interface name="108"/>
        <state_interface name="109"/>
        <state_interface name="110"/>
        <state_interface name="111"/>
        <state_interface name="112"/>

        <command_interface name="101"/>
        <command_interface name="102"/>
        <command_interface name="103"/>
        <command_interface name="104"/>
        <command_interface name="105"/>
        <command_interface name="106"/>
        <command_interface name="107"/>
        <command_interface name="108"/>
        <command_interface name="109"/>
        <command_interface name="110"/>
        <command_interface name="111"/>
        <command_interface name="112"/>
      </gpio>

      <gpio name="RO">
        <state_interface name="1"/>
        <state_interface name="2"/>

        <command_interface name="1"/>
        <command_interface name="2"/>
      </gpio>

      <gpio name="RI">
        <state_interface name="1"/>
        <state_interface name="2"/>
      </gpio>

      <gpio name="F">
        <state_interface name="1"/>
        <state_interface name="2"/>
        <state_interface name="3"/>
        <state_interface name="4"/>
        <state_interface name="5"/>
        <state_interface name="6"/>
        <state_interface name="7"/>
        <state_interface name="8"/>
        <state_interface name="9"/>
        <state_interface name="10"/>
        <state_interface name="11"/>
        <state_interface name="12"/>
        <state_interface name="13"/>
        <state_interface name="14"/>
        <state_interface name="15"/>
        <state_interface name="16"/>
        <state_interface name="17"/>
        <state_interface name="18"/>
        <state_interface name="19"/>
        <state_interface name="20"/>
        <state_interface name="21"/>
        <state_interface name="22"/>
        <state_interface name="23"/>
        <state_interface name="24"/>
        <state_interface name="25"/>
        <state_interface name="26"/>
        <state_interface name="27"/>
        <state_interface name="28"/>
        <state_interface name="28"/>
        <state_interface name="29"/>
        <state_interface name="30"/>
        <state_interface name="31"/>
        <state_interface name="32"/>

        <command_interface name="1"/>
        <command_interface name="2"/>
        <command_interface name="3"/>
        <command_interface name="4"/>
        <command_interface name="5"/>
        <command_interface name="6"/>
        <command_interface name="7"/>
        <command_interface name="8"/>
        <command_interface name="9"/>
        <command_interface name="10"/>
        <command_interface name="11"/>
        <command_interface name="12"/>
        <command_interface name="13"/>
        <command_interface name="14"/>
        <command_interface name="15"/>
        <command_interface name="16"/>
        <command_interface name="17"/>
        <command_interface name="18"/>
        <command_interface name="19"/>
        <command_interface name="20"/>
        <command_interface name="21"/>
        <command_interface name="22"/>
        <command_interface name="23"/>
        <command_interface name="24"/>
        <command_interface name="25"/>
        <command_interface name="26"/>
        <command_interface name="27"/>
        <command_interface name="28"/>
        <command_interface name="29"/>
        <command_interface name="30"/>
        <command_interface name="31"/>
        <command_interface name="32"/>
      </gpio>

      <gpio name="FloatReg">
        <command_interface name="1"/>
        <command_interface name="2"/>
        <command_interface name="3"/>
        <command_interface name="4"/>
        <command_interface name="5"/>
        <command_interface name="6"/>
        <state_interface name="1"/>
        <state_interface name="2"/>
        <state_interface name="3"/>
      </gpio>

      <gpio name="ConnectionStatus">
        <state_interface name="is_connected"/>
      </gpio>

      <gpio name="Status">
        <state_interface name="collaborative_speed_scaling"/>
        <state_interface name="contact_stop_mode"/>
        <state_interface name="e_stopped"/>
        <state_interface name="in_error"/>
        <state_interface name="motion_possible"/>
        <state_interface name="tp_enabled"/>
      </gpio>

      <sensor name="Force">
        <state_interface name="force_x"/>
        <state_interface name="force_y"/>
        <state_interface name="force_z"/>
        <state_interface name="moment_x"/>
        <state_interface name="moment_y"/>
        <state_interface name="moment_z"/>
        <state_interface name="fs_type"/>
      </sensor>

      <sensor name="ft_sensor">
        <state_interface name="force.x"/>
        <state_interface name="force.y"/>
        <state_interface name="force.z"/>
        <state_interface name="torque.x"/>
        <state_interface name="torque.y"/>
        <state_interface name="torque.z"/>
      </sensor>

      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <param name="state_following_offset">0.0</param>
        <param name="calculate_dynamics">true</param>
      </hardware>
    </ros2_control>
  </xacro:macro>
</robot>
