<?xml version="1.0" ?>
<robot name="er4ia" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include
    filename="$(find fanuc_lrmate_description)/urdf/er4ia_urdf_macro.xacro"
  />

  <link name="world" />
  <link name="ee_link" />
  <xacro:er4ia parent="world" child="ee_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:er4ia>
</robot>
