<?xml version="1.0" ?>
<robot name="lrmate200id7l" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include
    filename="$(find fanuc_lrmate_description)/urdf/lrmate200id7l_urdf_macro.xacro"
  />

  <link name="world" />
  <link name="ee_link" />
  <xacro:lrmate200id7l parent="world" child="ee_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:lrmate200id7l>
</robot>
