<?xml version="1.0" ?>
<!--
SPDX-FileCopyrightText: 2025-2026, FANUC America Corporation
SPDX-FileCopyrightText: 2025-2026, FANUC CORPORATION
SPDX-License-Identifier: Apache-2.0
-->
<!-- URDF for CRX-10iA/L Paint -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro
    name="crx10ia_lp"
    params="prefix=''
            parent
            *origin
            child"
  >

    <xacro:property name="j1_lower_limit" value="${radians(-180)}" />
    <xacro:property name="j2_lower_limit" value="${radians(-180)}" />
    <xacro:property name="j3_lower_limit" value="${radians(-270)}" />
    <xacro:property name="j4_lower_limit" value="${radians(-190)}" />
    <xacro:property name="j5_lower_limit" value="${radians(-180)}" />
    <xacro:property name="j6_lower_limit" value="${radians(-225)}" />

    <xacro:property name="j1_upper_limit" value="${radians(180)}" />
    <xacro:property name="j2_upper_limit" value="${radians(180)}" />
    <xacro:property name="j3_upper_limit" value="${radians(270)}" />
    <xacro:property name="j4_upper_limit" value="${radians(190)}" />
    <xacro:property name="j5_upper_limit" value="${radians(180)}" />
    <xacro:property name="j6_upper_limit" value="${radians(225)}" />

    <xacro:property name="j1_effort_limit" value="700" />
    <xacro:property name="j2_effort_limit" value="700" />
    <xacro:property name="j3_effort_limit" value="400" />
    <xacro:property name="j4_effort_limit" value="80" />
    <xacro:property name="j5_effort_limit" value="70" />
    <xacro:property name="j6_effort_limit" value="70" />

    <xacro:property name="j1_velocity_limit" value="${radians(120)}" />
    <xacro:property name="j2_velocity_limit" value="${radians(120)}" />
    <xacro:property name="j3_velocity_limit" value="${radians(180)}" />
    <xacro:property name="j4_velocity_limit" value="${radians(180)}" />
    <xacro:property name="j5_velocity_limit" value="${radians(180)}" />
    <xacro:property name="j6_velocity_limit" value="${radians(180)}" />

    <!-- links -->
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_crx_description/meshes/crx10ia_lp/visual/base.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_crx_description/meshes/crx10ia_lp/collision/base.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 14.6" />
        <origin xyz="-.0126 -.000000186  .12" />
        <inertia
          ixx=" .17"
          ixy="-.000000352"
          ixz=" .00497"
          iyy=" .17"
          iyz="-.000000286"
          izz=" .149"
        />
      </inertial>
    </link>

    <link name="${prefix}J1_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_crx_description/meshes/crx10ia_lp/visual/j1.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_crx_description/meshes/crx10ia_lp/collision/j1.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 5.2" />
        <origin xyz="-.0000000152 -.0217 -.0384" />
        <inertia
          ixx=" .0348"
          ixy="-.0000000133"
          ixz=" .0000000233"
          iyy=" .03"
          iyz=" .00228"
          izz=" .0226"
        />
      </inertial>
    </link>

    <link name="${prefix}J2_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_crx_description/meshes/crx10ia_lp/visual/j2.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_crx_description/meshes/crx10ia_lp/collision/j2.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 18.9" />
        <origin xyz=" .0000000891 -.186  .352" />
        <inertia
          ixx=" 1.11"
          ixy="-.000000259"
          ixz="-.000000118"
          iyy=" 1.08"
          iyz="-.0361"
          izz=" .085"
        />
      </inertial>
    </link>

    <link name="${prefix}J3_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_crx_description/meshes/crx10ia_lp/visual/j3.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_crx_description/meshes/crx10ia_lp/collision/j3.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 2.66" />
        <origin xyz=" .0385 -.00854  .00000105" />
        <inertia
          ixx=" .00634"
          ixy="-.000437"
          ixz="-.000000195"
          iyy=" .0118"
          iyz="-.000000107"
          izz=" .0121"
        />
      </inertial>
    </link>

    <link name="${prefix}J4_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_crx_description/meshes/crx10ia_lp/visual/j4.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_crx_description/meshes/crx10ia_lp/collision/j4.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 3.88" />
        <origin xyz=" .378 -.00456 -.000000088" />
        <inertia
          ixx=" .00653"
          ixy=" .00105"
          ixz="-.0000000212"
          iyy=" .0604"
          iyz=" .00000000854"
          izz=" .0609"
        />
      </inertial>
    </link>

    <link name="${prefix}J5_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_crx_description/meshes/crx10ia_lp/visual/j5.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_crx_description/meshes/crx10ia_lp/collision/j5.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 1.43" />
        <origin xyz=" .0227 -.135 -.000000151" />
        <inertia
          ixx=" .00278"
          ixy=" .000258"
          ixz="-.00000000906"
          iyy=" .00316"
          iyz="-.00000000128"
          izz=" .00395"
        />
      </inertial>
    </link>

    <link name="${prefix}J6_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_crx_description/meshes/crx10ia_lp/visual/j6.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_crx_description/meshes/crx10ia_lp/collision/j6.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" .33" />
        <origin xyz=" .129  4.81E-19 -4.86E-19" />
        <inertia
          ixx=" .000339"
          ixy=" 2.48E-19"
          ixz="-4.5E-20"
          iyy=" .00026"
          iyz=" 1.38E-20"
          izz=" .00026"
        />
      </inertial>
    </link>

    <!-- joints -->
    <joint name="${prefix}J1" type="revolute">
      <origin xyz=" 0  0  .465" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}J1_link" />
      <axis xyz=" 0  0  1" />
      <limit
        lower="${j1_lower_limit}"
        upper="${j1_upper_limit}"
        effort="${j1_effort_limit}"
        velocity="${j1_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J2" type="revolute">
      <origin xyz=" 0  0  0" rpy="0 0 0" />
      <parent link="${prefix}J1_link" />
      <child link="${prefix}J2_link" />
      <axis xyz=" 0  1  0" />
      <limit
        lower="${j2_lower_limit}"
        upper="${j2_upper_limit}"
        effort="${j2_effort_limit}"
        velocity="${j2_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J3" type="revolute">
      <origin xyz=" 0  0  .71" rpy="0 0 0" />
      <parent link="${prefix}J2_link" />
      <child link="${prefix}J3_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j3_lower_limit}"
        upper="${j3_upper_limit}"
        effort="${j3_effort_limit}"
        velocity="${j3_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J4" type="revolute">
      <origin xyz=" 0  0  0" rpy="0 0 0" />
      <parent link="${prefix}J3_link" />
      <child link="${prefix}J4_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j4_lower_limit}"
        upper="${j4_upper_limit}"
        effort="${j4_effort_limit}"
        velocity="${j4_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J5" type="revolute">
      <origin xyz=" .54  0  0" rpy="0 0 0" />
      <parent link="${prefix}J4_link" />
      <child link="${prefix}J5_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j5_lower_limit}"
        upper="${j5_upper_limit}"
        effort="${j5_effort_limit}"
        velocity="${j5_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J6" type="revolute">
      <origin xyz=" 0 -.15  0" rpy="0 0 0" />
      <parent link="${prefix}J5_link" />
      <child link="${prefix}J6_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j6_lower_limit}"
        upper="${j6_upper_limit}"
        effort="${j6_effort_limit}"
        velocity="${j6_velocity_limit}"
      />
    </joint>

    <!-- world coords -->
    <link name="${prefix}wbase" />
    <joint name="${prefix}base_link-wbase" type="fixed">
      <origin xyz=" 0  0  .465" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}wbase" />
    </joint>

    <!-- flange coords -->
    <link name="${prefix}flange" />
    <joint name="${prefix}J6-flange" type="fixed">
      <origin xyz=" .16  0  0" rpy="0 0 0" />
      <parent link="${prefix}J6_link" />
      <child link="${prefix}flange" />
    </joint>

    <!-- FANUC flange coords -->
    <link name="${prefix}fanuc_flange" />
    <joint name="${prefix}flange-fanuc_flange" type="fixed">
      <origin xyz="0 0 0" rpy="${radians( 180)} ${radians(-90)} ${radians( 0)}" />
      <parent link="${prefix}flange" />
      <child link="${prefix}fanuc_flange" />
    </joint>

    <!-- Attach to parent -->
    <joint name="${prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}base_link" />
    </joint>

    <!-- Attach child -->
    <joint name="${prefix}child_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}flange" />
      <child link="${child}" />
    </joint>
  </xacro:macro>
</robot>
