<?xml version="1.0" ?>
<!--
SPDX-FileCopyrightText: 2026, FANUC America Corporation
SPDX-FileCopyrightText: 2026, FANUC CORPORATION
SPDX-License-Identifier: Apache-2.0
-->
<!-- URDF for R-2000/240F-27C(R-2000iC/240F) -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro
    name="r2000ic_240f"
    params="prefix=''
            parent
            *origin
            child"
  >

    <xacro:property name="j1_lower_limit" value="${radians(-185)}" />
    <xacro:property name="j2_lower_limit" value="${radians(-60)}" />
    <xacro:property name="j3_lower_limit" value="${radians(-79)}" />
    <xacro:property name="j4_lower_limit" value="${radians(-360)}" />
    <xacro:property name="j5_lower_limit" value="${radians(-125)}" />
    <xacro:property name="j6_lower_limit" value="${radians(-360)}" />

    <xacro:property name="j1_upper_limit" value="${radians(185)}" />
    <xacro:property name="j2_upper_limit" value="${radians(76)}" />
    <xacro:property name="j3_upper_limit" value="${radians(180)}" />
    <xacro:property name="j4_upper_limit" value="${radians(360)}" />
    <xacro:property name="j5_upper_limit" value="${radians(125)}" />
    <xacro:property name="j6_upper_limit" value="${radians(360)}" />

    <xacro:property name="j1_effort_limit" value="10000" />
    <xacro:property name="j2_effort_limit" value="20000" />
    <xacro:property name="j3_effort_limit" value="20000" />
    <xacro:property name="j4_effort_limit" value="5000" />
    <xacro:property name="j5_effort_limit" value="5000" />
    <xacro:property name="j6_effort_limit" value="3000" />

    <xacro:property name="j1_velocity_limit" value="${radians(115)}" />
    <xacro:property name="j2_velocity_limit" value="${radians(90)}" />
    <xacro:property name="j3_velocity_limit" value="${radians(105)}" />
    <xacro:property name="j4_velocity_limit" value="${radians(130)}" />
    <xacro:property name="j5_velocity_limit" value="${radians(130)}" />
    <xacro:property name="j6_velocity_limit" value="${radians(210)}" />

    <!-- links -->
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_240f/visual/base.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_240f/collision/base.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 201" />
        <origin xyz="-.104 -.00417  .135" />
        <inertia
          ixx=" 6.34"
          ixy=" .076"
          ixz="-.138"
          iyy=" 12.3"
          iyz=" .00678"
          izz=" 15.7"
        />
      </inertial>
    </link>

    <link name="${prefix}J1_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_240f/visual/j1.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_240f/collision/j1.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 381" />
        <origin xyz=" .0206  .0683 -.123" />
        <inertia
          ixx=" 19.7"
          ixy=" 3.79"
          ixz="-1.49"
          iyy=" 27.5"
          iyz="-.516"
          izz=" 32.1"
        />
      </inertial>
    </link>

    <link name="${prefix}J2_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_240f/visual/j2.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_240f/collision/j2.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 211" />
        <origin xyz="-.00183  .229  .441" />
        <inertia
          ixx=" 27.6"
          ixy=" .107"
          ixz="-.763"
          iyy=" 28.4"
          iyz="-2.1"
          izz=" 4.04"
        />
      </inertial>
    </link>

    <link name="${prefix}J3_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_240f/visual/j3.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_240f/collision/j3.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 267" />
        <origin xyz=" .324  .055  .127" />
        <inertia
          ixx=" 8.35"
          ixy=" 1.22"
          ixz="-3.34"
          iyy=" 26"
          iyz=" .436"
          izz=" 26.4"
        />
      </inertial>
    </link>

    <link name="${prefix}J4_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_240f/visual/j4.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_240f/collision/j4.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 10.5" />
        <origin xyz=" 1.18 -.00867 -.00000000998" />
        <inertia
          ixx=" .0412"
          ixy=" .00554"
          ixz="-.00000000792"
          iyy=" .0947"
          iyz="-.000000000631"
          izz=" .0925"
        />
      </inertial>
    </link>

    <link name="${prefix}J5_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_240f/visual/j5.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_240f/collision/j5.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 19.1" />
        <origin xyz=" .0485 -.0214  .00000000178" />
        <inertia
          ixx=" .142"
          ixy="-.0218"
          ixz=" .000000000614"
          iyy=" .169"
          iyz=" .00000000896"
          izz=" .209"
        />
      </inertial>
    </link>

    <link name="${prefix}J6_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_240f/visual/j6.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_240f/collision/j6.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" .982" />
        <origin xyz=" .198  .000000000699  .0000957" />
        <inertia
          ixx=" .00275"
          ixy="-.00000000000492"
          ixz="-.000000701"
          iyy=" .00148"
          iyz=" .0000000000636"
          izz=" .00148"
        />
      </inertial>
    </link>

    <!-- joints -->
    <joint name="${prefix}J1" type="revolute">
      <origin xyz=" 0  0  .67" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}J1_link" />
      <axis xyz=" 0  0  1" />
      <limit
        lower="${j1_lower_limit}"
        upper="${j1_upper_limit}"
        effort="${j1_effort_limit}"
        velocity="${j1_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J2" type="revolute">
      <origin xyz=" .312  0  0" rpy="0 0 0" />
      <parent link="${prefix}J1_link" />
      <child link="${prefix}J2_link" />
      <axis xyz=" 0  1  0" />
      <limit
        lower="${j2_lower_limit}"
        upper="${j2_upper_limit}"
        effort="${j2_effort_limit}"
        velocity="${j2_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J3" type="revolute">
      <origin xyz=" 0  0  1.075" rpy="0 0 0" />
      <parent link="${prefix}J2_link" />
      <child link="${prefix}J3_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j3_lower_limit}"
        upper="${j3_upper_limit}"
        effort="${j3_effort_limit}"
        velocity="${j3_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J4" type="revolute">
      <origin xyz=" 0  0  .225" rpy="0 0 0" />
      <parent link="${prefix}J3_link" />
      <child link="${prefix}J4_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j4_lower_limit}"
        upper="${j4_upper_limit}"
        effort="${j4_effort_limit}"
        velocity="${j4_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J5" type="revolute">
      <origin xyz=" 1.28  0  0" rpy="0 0 0" />
      <parent link="${prefix}J4_link" />
      <child link="${prefix}J5_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j5_lower_limit}"
        upper="${j5_upper_limit}"
        effort="${j5_effort_limit}"
        velocity="${j5_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J6" type="revolute">
      <origin xyz=" 0  0  0" rpy="0 0 0" />
      <parent link="${prefix}J5_link" />
      <child link="${prefix}J6_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j6_lower_limit}"
        upper="${j6_upper_limit}"
        effort="${j6_effort_limit}"
        velocity="${j6_velocity_limit}"
      />
    </joint>

    <!-- world coords -->
    <link name="${prefix}wbase" />
    <joint name="${prefix}base_link-wbase" type="fixed">
      <origin xyz=" 0  0  .67" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}wbase" />
    </joint>

    <!-- flange coords -->
    <link name="${prefix}flange" />
    <joint name="${prefix}J6-flange" type="fixed">
      <origin xyz=" .215  0  0" rpy="0 0 0" />
      <parent link="${prefix}J6_link" />
      <child link="${prefix}flange" />
    </joint>

    <!-- FANUC flange coords -->
    <link name="${prefix}fanuc_flange" />
    <joint name="${prefix}flange-fanuc_flange" type="fixed">
      <origin xyz="0 0 0" rpy="${radians( 180)} ${radians(-90)} ${radians( 0)}" />
      <parent link="${prefix}flange" />
      <child link="${prefix}fanuc_flange" />
    </joint>

    <!-- Attach to parent -->
    <joint name="${prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}base_link" />
    </joint>

    <!-- Attach child -->
    <joint name="${prefix}child_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}flange" />
      <child link="${child}" />
    </joint>
  </xacro:macro>
</robot>
