<?xml version="1.0" ?>
<!--
SPDX-FileCopyrightText: 2025-2026, FANUC America Corporation
SPDX-FileCopyrightText: 2025-2026, FANUC CORPORATION
SPDX-License-Identifier: Apache-2.0
-->
<!-- URDF for R-2000/125F-31C(R-2000iC/125L) -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro
    name="r2000ic_125l"
    params="prefix=''
            parent
            *origin
            child"
  >

    <xacro:property name="j1_lower_limit" value="${radians(-185)}" />
    <xacro:property name="j2_lower_limit" value="${radians(-60)}" />
    <xacro:property name="j3_lower_limit" value="${radians(-79)}" />
    <xacro:property name="j4_lower_limit" value="${radians(-360)}" />
    <xacro:property name="j5_lower_limit" value="${radians(-125)}" />
    <xacro:property name="j6_lower_limit" value="${radians(-360)}" />

    <xacro:property name="j1_upper_limit" value="${radians(185)}" />
    <xacro:property name="j2_upper_limit" value="${radians(76)}" />
    <xacro:property name="j3_upper_limit" value="${radians(180)}" />
    <xacro:property name="j4_upper_limit" value="${radians(360)}" />
    <xacro:property name="j5_upper_limit" value="${radians(125)}" />
    <xacro:property name="j6_upper_limit" value="${radians(360)}" />

    <xacro:property name="j1_effort_limit" value="10000" />
    <xacro:property name="j2_effort_limit" value="20000" />
    <xacro:property name="j3_effort_limit" value="20000" />
    <xacro:property name="j4_effort_limit" value="4000" />
    <xacro:property name="j5_effort_limit" value="4000" />
    <xacro:property name="j6_effort_limit" value="3000" />

    <xacro:property name="j1_velocity_limit" value="${radians(130)}" />
    <xacro:property name="j2_velocity_limit" value="${radians(115)}" />
    <xacro:property name="j3_velocity_limit" value="${radians(125)}" />
    <xacro:property name="j4_velocity_limit" value="${radians(180)}" />
    <xacro:property name="j5_velocity_limit" value="${radians(180)}" />
    <xacro:property name="j6_velocity_limit" value="${radians(260)}" />

    <!-- links -->
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_125l/visual/base.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_125l/collision/base.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 189" />
        <origin xyz="-.104 -.00417  .135" />
        <inertia
          ixx=" 5.97"
          ixy=" .0715"
          ixz="-.13"
          iyy=" 11.6"
          iyz=" .00638"
          izz=" 14.8"
        />
      </inertial>
    </link>

    <link name="${prefix}J1_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_125l/visual/j1.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_125l/collision/j1.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 358" />
        <origin xyz=" .0206  .0683 -.123" />
        <inertia
          ixx=" 18.5"
          ixy=" 3.57"
          ixz="-1.4"
          iyy=" 25.9"
          iyz="-.486"
          izz=" 30.2"
        />
      </inertial>
    </link>

    <link name="${prefix}J2_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_125l/visual/j2.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_125l/collision/j2.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 198" />
        <origin xyz="-.00183  .229  .441" />
        <inertia
          ixx=" 26"
          ixy=" .101"
          ixz="-.718"
          iyy=" 26.7"
          iyz="-1.98"
          izz=" 3.8"
        />
      </inertial>
    </link>

    <link name="${prefix}J3_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_125l/visual/j3.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_125l/collision/j3.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 340" />
        <origin xyz=" .485  .0541  .13" />
        <inertia
          ixx=" 10.4"
          ixy=" 2.41"
          ixz="-5.72"
          iyy=" 60.3"
          iyz=" .558"
          izz=" 61"
        />
      </inertial>
    </link>

    <link name="${prefix}J4_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_125l/visual/j4.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_125l/collision/j4.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 9.92" />
        <origin xyz=" 1.63 -.00867 -.00000000998" />
        <inertia
          ixx=" .0388"
          ixy=" .00521"
          ixz="-.00000000746"
          iyy=" .0892"
          iyz="-.000000000594"
          izz=" .0871"
        />
      </inertial>
    </link>

    <link name="${prefix}J5_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_125l/visual/j5.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_125l/collision/j5.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 18" />
        <origin xyz=" .0485 -.0214  .00000000178" />
        <inertia
          ixx=" .134"
          ixy="-.0205"
          ixz=" .000000000578"
          iyy=" .159"
          iyz=" .00000000843"
          izz=" .197"
        />
      </inertial>
    </link>

    <link name="${prefix}J6_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_125l/visual/j6.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_125l/collision/j6.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" .925" />
        <origin xyz=" .198  .000000000699  .0000957" />
        <inertia
          ixx=" .00259"
          ixy="-.00000000000463"
          ixz="-.00000066"
          iyy=" .00139"
          iyz=" .0000000000599"
          izz=" .0014"
        />
      </inertial>
    </link>

    <!-- joints -->
    <joint name="${prefix}J1" type="revolute">
      <origin xyz=" 0  0  .67" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}J1_link" />
      <axis xyz=" 0  0  1" />
      <limit
        lower="${j1_lower_limit}"
        upper="${j1_upper_limit}"
        effort="${j1_effort_limit}"
        velocity="${j1_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J2" type="revolute">
      <origin xyz=" .312  0  0" rpy="0 0 0" />
      <parent link="${prefix}J1_link" />
      <child link="${prefix}J2_link" />
      <axis xyz=" 0  1  0" />
      <limit
        lower="${j2_lower_limit}"
        upper="${j2_upper_limit}"
        effort="${j2_effort_limit}"
        velocity="${j2_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J3" type="revolute">
      <origin xyz=" 0  0  1.075" rpy="0 0 0" />
      <parent link="${prefix}J2_link" />
      <child link="${prefix}J3_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j3_lower_limit}"
        upper="${j3_upper_limit}"
        effort="${j3_effort_limit}"
        velocity="${j3_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J4" type="revolute">
      <origin xyz=" 0  0  .225" rpy="0 0 0" />
      <parent link="${prefix}J3_link" />
      <child link="${prefix}J4_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j4_lower_limit}"
        upper="${j4_upper_limit}"
        effort="${j4_effort_limit}"
        velocity="${j4_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J5" type="revolute">
      <origin xyz=" 1.73  0  0" rpy="0 0 0" />
      <parent link="${prefix}J4_link" />
      <child link="${prefix}J5_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j5_lower_limit}"
        upper="${j5_upper_limit}"
        effort="${j5_effort_limit}"
        velocity="${j5_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J6" type="revolute">
      <origin xyz=" 0  0  0" rpy="0 0 0" />
      <parent link="${prefix}J5_link" />
      <child link="${prefix}J6_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j6_lower_limit}"
        upper="${j6_upper_limit}"
        effort="${j6_effort_limit}"
        velocity="${j6_velocity_limit}"
      />
    </joint>

    <!-- world coords -->
    <link name="${prefix}wbase" />
    <joint name="${prefix}base_link-wbase" type="fixed">
      <origin xyz=" 0  0  .67" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}wbase" />
    </joint>

    <!-- flange coords -->
    <link name="${prefix}flange" />
    <joint name="${prefix}J6-flange" type="fixed">
      <origin xyz=" .215  0  0" rpy="0 0 0" />
      <parent link="${prefix}J6_link" />
      <child link="${prefix}flange" />
    </joint>

    <!-- FANUC flange coords -->
    <link name="${prefix}fanuc_flange" />
    <joint name="${prefix}flange-fanuc_flange" type="fixed">
      <origin xyz="0 0 0" rpy="${radians( 180)} ${radians(-90)} ${radians( 0)}" />
      <parent link="${prefix}flange" />
      <child link="${prefix}fanuc_flange" />
    </joint>

    <!-- Attach to parent -->
    <joint name="${prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}base_link" />
    </joint>

    <!-- Attach child -->
    <joint name="${prefix}child_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}flange" />
      <child link="${child}" />
    </joint>
  </xacro:macro>
</robot>
