<?xml version="1.0" ?>
<!--
SPDX-FileCopyrightText: 2026, FANUC America Corporation
SPDX-FileCopyrightText: 2026, FANUC CORPORATION
SPDX-License-Identifier: Apache-2.0
-->
<!-- URDF for R-2000/165R-31C(R-2000iC/165R) -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro
    name="r2000ic_165r"
    params="prefix=''
            parent
            *origin
            child"
  >

    <xacro:property name="j1_lower_limit" value="${radians(-185)}" />
    <xacro:property name="j2_lower_limit" value="${radians(-120)}" />
    <xacro:property name="j3_lower_limit" value="${radians(-79)}" />
    <xacro:property name="j4_lower_limit" value="${radians(-360)}" />
    <xacro:property name="j5_lower_limit" value="${radians(-125)}" />
    <xacro:property name="j6_lower_limit" value="${radians(-360)}" />

    <xacro:property name="j1_upper_limit" value="${radians(185)}" />
    <xacro:property name="j2_upper_limit" value="${radians(80)}" />
    <xacro:property name="j3_upper_limit" value="${radians(180)}" />
    <xacro:property name="j4_upper_limit" value="${radians(360)}" />
    <xacro:property name="j5_upper_limit" value="${radians(125)}" />
    <xacro:property name="j6_upper_limit" value="${radians(360)}" />

    <xacro:property name="j1_effort_limit" value="10000" />
    <xacro:property name="j2_effort_limit" value="20000" />
    <xacro:property name="j3_effort_limit" value="20000" />
    <xacro:property name="j4_effort_limit" value="4000" />
    <xacro:property name="j5_effort_limit" value="4000" />
    <xacro:property name="j6_effort_limit" value="3000" />

    <xacro:property name="j1_velocity_limit" value="${radians(115)}" />
    <xacro:property name="j2_velocity_limit" value="${radians(110)}" />
    <xacro:property name="j3_velocity_limit" value="${radians(125)}" />
    <xacro:property name="j4_velocity_limit" value="${radians(180)}" />
    <xacro:property name="j5_velocity_limit" value="${radians(180)}" />
    <xacro:property name="j6_velocity_limit" value="${radians(260)}" />

    <!-- links -->
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_165r/visual/base.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_165r/collision/base.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 189" />
        <origin xyz="-.104 -.00417  .135" />
        <inertia
          ixx=" 5.95"
          ixy=" .0712"
          ixz="-.13"
          iyy=" 11.6"
          iyz=" .00636"
          izz=" 14.8"
        />
      </inertial>
    </link>

    <link name="${prefix}J1_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_165r/visual/j1.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_165r/collision/j1.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 682" />
        <origin xyz=" .202  .145 -.0127" />
        <inertia
          ixx=" 48.9"
          ixy=" 7.01"
          ixz="-2.91"
          iyy=" 85.6"
          iyz="-4.57"
          izz=" 100"
        />
      </inertial>
    </link>

    <link name="${prefix}J2_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_165r/visual/j2.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_165r/collision/j2.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 221" />
        <origin xyz=" .434  .246  .00114" />
        <inertia
          ixx=" 4.59"
          ixy="-1.48"
          ixz=" .7"
          iyy=" 28.3"
          iyz="-.198"
          izz=" 28"
        />
      </inertial>
    </link>

    <link name="${prefix}J3_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_165r/visual/j3.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_165r/collision/j3.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 250" />
        <origin xyz=" .127  .055 -.324" />
        <inertia
          ixx=" 24.8"
          ixy=" .409"
          ixz=" 3.13"
          iyy=" 24.3"
          iyz="-1.15"
          izz=" 7.83"
        />
      </inertial>
    </link>

    <link name="${prefix}J4_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_165r/visual/j4.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_165r/collision/j4.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 9.89" />
        <origin xyz="-.0000000108 -.00867 -1.18" />
        <inertia
          ixx=" .0868"
          ixy="-.000000000103"
          ixz=" .00000000763"
          iyy=" .0888"
          iyz="-.00519"
          izz=" .0386"
        />
      </inertial>
    </link>

    <link name="${prefix}J5_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_165r/visual/j5.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_165r/collision/j5.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 18" />
        <origin xyz="-.00000000195 -.0214 -.0485" />
        <inertia
          ixx=" .196"
          ixy=" .0000000000649"
          ixz=" .00000000371"
          iyy=" .158"
          iyz=" .0204"
          izz=" .134"
        />
      </inertial>
    </link>

    <link name="${prefix}J6_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_165r/visual/j6.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r2000_description/meshes/r2000ic_165r/collision/j6.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" .921" />
        <origin xyz=" .0000957 -.0000000101 -.198" />
        <inertia
          ixx=" .00139"
          ixy=" .0000000000755"
          ixz=" .000000658"
          iyy=" .00139"
          iyz="-.0000000000115"
          izz=" .00258"
        />
      </inertial>
    </link>

    <!-- joints -->
    <joint name="${prefix}J1" type="revolute">
      <origin xyz=" 0  0  .6" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}J1_link" />
      <axis xyz=" 0  0  1" />
      <limit
        lower="${j1_lower_limit}"
        upper="${j1_upper_limit}"
        effort="${j1_effort_limit}"
        velocity="${j1_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J2" type="revolute">
      <origin xyz=" .72  0  0" rpy="0 0 0" />
      <parent link="${prefix}J1_link" />
      <child link="${prefix}J2_link" />
      <axis xyz=" 0  1  0" />
      <limit
        lower="${j2_lower_limit}"
        upper="${j2_upper_limit}"
        effort="${j2_effort_limit}"
        velocity="${j2_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J3" type="revolute">
      <origin xyz=" 1.075  0  0" rpy="0 0 0" />
      <parent link="${prefix}J2_link" />
      <child link="${prefix}J3_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j3_lower_limit}"
        upper="${j3_upper_limit}"
        effort="${j3_effort_limit}"
        velocity="${j3_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J4" type="revolute">
      <origin xyz=" .225  0  0" rpy="0 0 0" />
      <parent link="${prefix}J3_link" />
      <child link="${prefix}J4_link" />
      <axis xyz=" 0  0  1" />
      <limit
        lower="${j4_lower_limit}"
        upper="${j4_upper_limit}"
        effort="${j4_effort_limit}"
        velocity="${j4_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J5" type="revolute">
      <origin xyz=" 0  0 -1.28" rpy="0 0 0" />
      <parent link="${prefix}J4_link" />
      <child link="${prefix}J5_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j5_lower_limit}"
        upper="${j5_upper_limit}"
        effort="${j5_effort_limit}"
        velocity="${j5_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J6" type="revolute">
      <origin xyz=" 0  0  0" rpy="0 0 0" />
      <parent link="${prefix}J5_link" />
      <child link="${prefix}J6_link" />
      <axis xyz=" 0  0  1" />
      <limit
        lower="${j6_lower_limit}"
        upper="${j6_upper_limit}"
        effort="${j6_effort_limit}"
        velocity="${j6_velocity_limit}"
      />
    </joint>

    <!-- world coords -->
    <link name="${prefix}wbase" />
    <joint name="${prefix}base_link-wbase" type="fixed">
      <origin xyz=" 0  0  .6" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}wbase" />
    </joint>

    <!-- flange coords -->
    <link name="${prefix}flange" />
    <joint name="${prefix}J6-flange" type="fixed">
      <origin xyz=" 0  0 -.215" rpy="0 0 0" />
      <parent link="${prefix}J6_link" />
      <child link="${prefix}flange" />
    </joint>

    <!-- FANUC flange coords -->
    <link name="${prefix}fanuc_flange" />
    <joint name="${prefix}flange-fanuc_flange" type="fixed">
      <origin xyz="0 0 0" rpy="${radians( 180)} ${radians( 0)} ${radians( 0)}" />
      <parent link="${prefix}flange" />
      <child link="${prefix}fanuc_flange" />
    </joint>

    <!-- Attach to parent -->
    <joint name="${prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}base_link" />
    </joint>

    <!-- Attach child -->
    <joint name="${prefix}child_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}flange" />
      <child link="${child}" />
    </joint>
  </xacro:macro>
</robot>
