<?xml version="1.0" ?>
<robot name="crx10ia_lp" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include
    filename="$(find fanuc_crx_description)/urdf/crx10ia_lp_urdf_macro.xacro"
  />

  <link name="world" />
  <link name="ee_link" />
  <xacro:crx10ia_lp parent="world" child="ee_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:crx10ia_lp>
</robot>
