<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fanuc_m20ia">
  <xacro:arg name="robot_ip" default="192.168.1.100"/>
  <xacro:arg name="rmi_port" default="16001"/>
  <xacro:arg name="stream_motion_port" default="60015"/>
  <xacro:arg name="group_mask" default="1"/>
  <xacro:arg name="gpio_configuration" default=""/>
  <xacro:arg name="payload_schedule" default="1"/>
  <xacro:arg name="out_cmd_interp_buff_target" default="8"/>
  <xacro:arg name="force_sensor_type" default="0"/>

  <xacro:include filename="$(find fanuc_m20ia_description)/urdf/m20ia.urdf" />
  <xacro:include filename="fanuc_m20ia_physical_ros2_control.xacro" />

  <xacro:fanuc_m20ia_physical_ros2_control name="fanuc_m20ia"/>

  <link name="tool_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 1.570796 0" />
      <geometry>
        <cylinder radius="0.04" length="0.30"/>
      </geometry>
      <material name="white">
          <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.570796 0" />
      <geometry>
        <cylinder radius="0.04" length="0.3"/>
      </geometry>
    </collision>
    <inertial>
      <mass value=" .558" />
      <origin xyz="0 0 0" />
      <inertia
        ixx=" .00000585"
        ixy="-.0000000000703"
        ixz=" .000000000019"
        iyy=" .00000433"
        iyz=" .000000000227"
        izz=" .00000433"
      />                 <!-- Dodou sm eno nulo pousod -->
    </inertial>
  </link>
  
  <joint name="flange-tool_link" type="fixed">
      <origin xyz="0.15 0 0" rpy="0 0 0"/>
      <parent link="flange"/>
      <child link="tool_link"/>
  </joint>

  <link name="tool_link2">
    <visual>
      <origin xyz="0 0 0" rpy="0 1.570796 0" />
      <geometry>
        <cylinder radius="0.01" length="0.025"/>
      </geometry>
      <material name="white">
          <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.570796 0" />
      <geometry>
        <cylinder radius="0.01" length="0.025"/>
      </geometry>
    </collision>
    <inertial>
      <mass value=" .558" />
      <origin xyz="0 0 0" />
      <inertia
        ixx=" .00000000585"
        ixy="-.0000000000000703"
        ixz=" .000000000000019"
        iyy=" .00000000433"
        iyz=" .00000000000227"
        izz=" .00000000433"
      />
    </inertial>                 <!-- Dodou sm dve nuli pousod -->
  </link>
  
  <joint name="tool_link-tool_link2" type="fixed">
      <origin xyz="0.1625 0 0" rpy="0 0 0"/>
      <parent link="tool_link"/>
      <child link="tool_link2"/>
  </joint>

  <link name="tool_tip"/>
  <joint name="tool_link2-tool_tip" type="fixed">
      <origin xyz="0.0125 0 0" rpy="0 -1.570796 0"/>
      <parent link="tool_link2"/>
      <child link="tool_tip"/>
  </joint>

</robot>
