<?xml version="1.0" ?>
<!--
SPDX-FileCopyrightText: 2026, FANUC America Corporation
SPDX-FileCopyrightText: 2026, FANUC CORPORATION
SPDX-License-Identifier: Apache-2.0
-->
<!-- URDF for R-1000/80-22A(R-1000iA/80F) -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro
    name="r1000ia_80f"
    params="prefix=''
            parent
            *origin
            child"
  >

    <xacro:property name="j1_lower_limit" value="${radians(-180)}" />
    <xacro:property name="j2_lower_limit" value="${radians(-90)}" />
    <xacro:property name="j3_lower_limit" value="${radians(-82)}" />
    <xacro:property name="j4_lower_limit" value="${radians(-360)}" />
    <xacro:property name="j5_lower_limit" value="${radians(-125)}" />
    <xacro:property name="j6_lower_limit" value="${radians(-360)}" />

    <xacro:property name="j1_upper_limit" value="${radians(180)}" />
    <xacro:property name="j2_upper_limit" value="${radians(155)}" />
    <xacro:property name="j3_upper_limit" value="${radians(140)}" />
    <xacro:property name="j4_upper_limit" value="${radians(360)}" />
    <xacro:property name="j5_upper_limit" value="${radians(125)}" />
    <xacro:property name="j6_upper_limit" value="${radians(360)}" />

    <xacro:property name="j1_effort_limit" value="9000" />
    <xacro:property name="j2_effort_limit" value="10000" />
    <xacro:property name="j3_effort_limit" value="8000" />
    <xacro:property name="j4_effort_limit" value="2000" />
    <xacro:property name="j5_effort_limit" value="2000" />
    <xacro:property name="j6_effort_limit" value="2000" />

    <xacro:property name="j1_velocity_limit" value="${radians(170)}" />
    <xacro:property name="j2_velocity_limit" value="${radians(140)}" />
    <xacro:property name="j3_velocity_limit" value="${radians(160)}" />
    <xacro:property name="j4_velocity_limit" value="${radians(230)}" />
    <xacro:property name="j5_velocity_limit" value="${radians(230)}" />
    <xacro:property name="j6_velocity_limit" value="${radians(350)}" />

    <!-- links -->
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r1000ia_description/meshes/r1000ia_80f/visual/base.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r1000ia_description/meshes/r1000ia_80f/collision/base.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 127" />
        <origin xyz="-.129  .0048  .117" />
        <inertia
          ixx=" 2.52"
          ixy=" .225"
          ixz="-.147"
          iyy=" 5.67"
          iyz=" .014"
          izz=" 6.98"
        />
      </inertial>
    </link>

    <link name="${prefix}J1_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r1000ia_description/meshes/r1000ia_80f/visual/j1.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r1000ia_description/meshes/r1000ia_80f/collision/j1.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 172" />
        <origin xyz=" .133 -.00239 -.0395" />
        <inertia
          ixx=" 4.59"
          ixy="-.244"
          ixz="-.202"
          iyy=" 6.84"
          iyz=" .395"
          izz=" 7.08"
        />
      </inertial>
    </link>

    <link name="${prefix}J2_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r1000ia_description/meshes/r1000ia_80f/visual/j2.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r1000ia_description/meshes/r1000ia_80f/collision/j2.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 104" />
        <origin xyz=" .00598  .148  .394" />
        <inertia
          ixx=" 9.79"
          ixy="-.00239"
          ixz=" .00593"
          iyy=" 10.2"
          iyz="-.158"
          izz=" .974"
        />
      </inertial>
    </link>

    <link name="${prefix}J3_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r1000ia_description/meshes/r1000ia_80f/visual/j3.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r1000ia_description/meshes/r1000ia_80f/collision/j3.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 194" />
        <origin xyz=" .238  .011  .139" />
        <inertia
          ixx=" 4.9"
          ixy="-.0545"
          ixz="-1.79"
          iyy=" 12.5"
          iyz="-.195"
          izz=" 11.8"
        />
      </inertial>
    </link>

    <link name="${prefix}J4_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r1000ia_description/meshes/r1000ia_80f/visual/j4.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r1000ia_description/meshes/r1000ia_80f/collision/j4.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 7.43" />
        <origin xyz=" .929 -.00482  1.99E-16" />
        <inertia
          ixx=" .0217"
          ixy=" .00203"
          ixz=" 2.82E-15"
          iyy=" .0477"
          iyz=" .00000000000431"
          izz=" .0454"
        />
      </inertial>
    </link>

    <link name="${prefix}J5_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r1000ia_description/meshes/r1000ia_80f/visual/j5.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r1000ia_description/meshes/r1000ia_80f/collision/j5.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" 14.5" />
        <origin xyz=" .0473 -.0132 -.00000000107" />
        <inertia
          ixx=" .0807"
          ixy="-.0112"
          ixz="-.000000000352"
          iyy=" .0994"
          iyz="-.000000000904"
          izz=" .121"
        />
      </inertial>
    </link>

    <link name="${prefix}J6_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r1000ia_description/meshes/r1000ia_80f/visual/j6.dae"
          />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://fanuc_r1000ia_description/meshes/r1000ia_80f/collision/j6.stl"
          />
        </geometry>
      </collision>
      <inertial>
        <mass value=" .402" />
        <origin xyz=" .181  .000127  .000171" />
        <inertia
          ixx=" .0008"
          ixy="-.00000000000204"
          ixz="-.000000436"
          iyy=" .000409"
          iyz=" .0000000000617"
          izz=" .000413"
        />
      </inertial>
    </link>

    <!-- joints -->
    <joint name="${prefix}J1" type="revolute">
      <origin xyz=" 0  0  .45" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}J1_link" />
      <axis xyz=" 0  0  1" />
      <limit
        lower="${j1_lower_limit}"
        upper="${j1_upper_limit}"
        effort="${j1_effort_limit}"
        velocity="${j1_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J2" type="revolute">
      <origin xyz=" .32  0  0" rpy="0 0 0" />
      <parent link="${prefix}J1_link" />
      <child link="${prefix}J2_link" />
      <axis xyz=" 0  1  0" />
      <limit
        lower="${j2_lower_limit}"
        upper="${j2_upper_limit}"
        effort="${j2_effort_limit}"
        velocity="${j2_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J3" type="revolute">
      <origin xyz=" 0  0  .87" rpy="0 0 0" />
      <parent link="${prefix}J2_link" />
      <child link="${prefix}J3_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j3_lower_limit}"
        upper="${j3_upper_limit}"
        effort="${j3_effort_limit}"
        velocity="${j3_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J4" type="revolute">
      <origin xyz=" 0  0  .225" rpy="0 0 0" />
      <parent link="${prefix}J3_link" />
      <child link="${prefix}J4_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j4_lower_limit}"
        upper="${j4_upper_limit}"
        effort="${j4_effort_limit}"
        velocity="${j4_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J5" type="revolute">
      <origin xyz=" 1.015  0  0" rpy="0 0 0" />
      <parent link="${prefix}J4_link" />
      <child link="${prefix}J5_link" />
      <axis xyz=" 0 -1  0" />
      <limit
        lower="${j5_lower_limit}"
        upper="${j5_upper_limit}"
        effort="${j5_effort_limit}"
        velocity="${j5_velocity_limit}"
      />
    </joint>

    <joint name="${prefix}J6" type="revolute">
      <origin xyz=" 0  0  0" rpy="0 0 0" />
      <parent link="${prefix}J5_link" />
      <child link="${prefix}J6_link" />
      <axis xyz="-1  0  0" />
      <limit
        lower="${j6_lower_limit}"
        upper="${j6_upper_limit}"
        effort="${j6_effort_limit}"
        velocity="${j6_velocity_limit}"
      />
    </joint>

    <!-- world coords -->
    <link name="${prefix}wbase" />
    <joint name="${prefix}base_link-wbase" type="fixed">
      <origin xyz=" 0  0  .45" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}wbase" />
    </joint>

    <!-- flange coords -->
    <link name="${prefix}flange" />
    <joint name="${prefix}J6-flange" type="fixed">
      <origin xyz=" .175  0  0" rpy="0 0 0" />
      <parent link="${prefix}J6_link" />
      <child link="${prefix}flange" />
    </joint>

    <!-- FANUC flange coords -->
    <link name="${prefix}fanuc_flange" />
    <joint name="${prefix}flange-fanuc_flange" type="fixed">
      <origin xyz="0 0 0" rpy="${radians( 180)} ${radians(-90)} ${radians( 0)}" />
      <parent link="${prefix}flange" />
      <child link="${prefix}fanuc_flange" />
    </joint>

    <!-- Attach to parent -->
    <joint name="${prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}base_link" />
    </joint>

    <!-- Attach child -->
    <joint name="${prefix}child_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${prefix}flange" />
      <child link="${child}" />
    </joint>
  </xacro:macro>
</robot>
